h1{
  text-align: center;
}

.warning{
  color: red;
}

.a {
  font-size: 11px;
  font-style: oblique;
  text-align: center;
}

.note {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 45%;
}

.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: #e3f2f7;
color: black;
text-align: center;
font-size: 11px;
}

.roofNames{
font-weight: bold;
}

.center-map {
    margin: 0 auto;
    float: left;
    width: 50%;
}

#calculator {
  position: relative;
  float: right;
  width: 50%;
}

#calculate {
  position: absolute;

  right:    0;
  bottom:   0;
}

#imageFrame{
  margin: 0 auto;
  float: left;
  width: 50%
}

.roofs{
  width:48%;
  height:130px;
  margin:6px;
  border:1px solid black;
  float: left;
}

.btn{
  border-radius: 6px;
  display: block;
  width: 10%;
  float: left;
}

#modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
