h1{
  text-align: center;
}

.warning{
  color: red;
}

.a {
  font-size: 11px;
  font-style: oblique;
  text-align: center;
}

.note {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 45%;
}

.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: #e3f2f7;
color: black;
text-align: center;
font-size: 11px;
}

.roofNames{
font-weight: bold;
}

.center-map {
    margin: 0 auto;
    float: left;
    width: 50%;
}

#calculator {
  position: relative;
  float: right;
  width: 50%;
}

#calculate {
  position: absolute;

  right:    0;
  bottom:   0;
}

#imageFrame{
  margin: 0 auto;
  float: left;
  width: 50%
}

.roofs{
  width:48%;
  height:130px;
  margin:6px;
  border:1px solid black;
  float: left;
}

.btn{
  border-radius: 6px;
  display: block;
  width: 10%;
}

#dialog {
  background-color:lightblue;
}
