h1{
  text-align: center;
}

.a {
  font-style: oblique;
  text-align: center;
}

.note {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 45%;
}

.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: #e3f2f7;
color: black;
text-align: center;
font-size: 11px;
}

.roofNames{
font-weight: bold;
}

.center-map {
    margin: 0 auto;
    float: left;
    width: 50%
}
#calculator {
  position:relative;
  float: right;
  width: 45%
}

#calculate {
  position: absolute;
  right:    0;
  bottom:   0;
}
